body {
    margin: 0;
}

.page_header {
    position: relative;
    width: 100vw;
    height: 16.5vh;
    text-align: center;
    line-height: 16.5vh;
    font-size: 50px;
    background: #4c061d;
    color: #fff;
    box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.page_content {
    display: flex;
    height: 75.25vh;
    width: 100vw;
    z-index: 0;
}

.page_side {
    flex: 1;
    background: #c3b299;
}

.game {
    flex: 5;
    position: relative;
    max-width: 900px;
    box-shadow: 0px 0px 30px 10px rgb(0, 0, 0, 0.25);
    z-index: 9;
}

.page_footer {
    position: relative;
    height: 8.25vh;
    width: 100vw;
    font-size: 20px;
    text-align: center;
    line-height: 8.25vh;
    background: #b49e7e;
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}