body {
  margin: 0;
  font-family: "Permanent Marker", cursive;
}

button,
input {
  font-family: "Permanent Marker", cursive;
}

.page_header {
  width: 100vw;
  height: 16.5vh;
  line-height: 16.5vh;
  text-align: center;
  font-size: 50px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  background-color: #4c061d;
  color: #fff;
}

.page_content {
  display: flex;
  height: 75.25vh;
  width: 100vw;
}

.page_side {
  flex: 1;
  background-color: #c3b299;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  padding: 15px;
}

.game {
  flex: 5;
  position: relative;
  z-index: 9;
  max-width: 900px;
  min-width: 500px;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
  background-image: url("./Assets/paper_texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}

#game_background {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 6;
}

.game_container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.game_container_section {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underscores {
  width: 80%;
  height: 100%;
  text-align: center;
  padding-top: 15%;
  line-height: 100%;
  font-size: 4rem;
  letter-spacing: 10px;
  word-spacing: 100vw;
}

.game_button {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 7;
  font-size: 1.5em;
}

#info_box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 1.5em;
}

.text_sm {
  font-size: 0.85em;
}

#guess_input,
#restart_game,
#get_hint {
  position: relative;
  z-index: 9000;
  margin-left: 5px;
}

#guess_input {
  height: 38px;
  width: 100px;
  font-size: 2em;
  text-align: center;
}

#restart_game {
  width: 160px;
  height: 55px;
  font-size: 1.5em;
}

#get_hint {
  width: 100px;
  height: 40px;
  font-size: 1.25em;
}

.page_footer {
  height: 8.25vh;
  width: 100vw;
  text-align: center;
  line-height: 8.25vh;
  background-color: #b49e7e;
  color: #fff;
  position: relative;
  z-index: 10;
  box-shadow: 0px -1px 5px 5px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1000px) {
  .page_content {
    flex-direction: column;
  }

  .p_s_top {
    display: none;
  }

  .game {
    min-width: 100%;
    height: 100%;
  }

  .text {
    font-size: 1em;
  }

  #info_box {
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 5px;
  }

  .underscores {
    letter-spacing: 10px;
    font-size: 2.5rem;
  }
}

@media only screen and (max-height: 630px) {
  .game {
    flex: 1;
  }
  
  .page_header {
    display: none;
  }

  .p_s_btm {
    flex: 1;
    min-height: 30%;
  }

  .page_footer {
    display: none;
    min-height: 400px;
  }
}